<p id="notice"><%= notice %></p>
<h2>Hello <%= @user.username %></h2>

<br>

<div>
  <h3>These are your upcoming events:</h3>
  <% (@user.created_events.select { |event| event.event_date > Time.now }).each do |event| %>
    <p><%= event.description %></p>
  <% end %>
</div>

<div>
  <h3>These are your past events:</h3>
  <% (@user.created_events.select { |event| event.event_date < Time.now }).each do |event| %>
    <p><%= event.description %></p>
  <% end %>
</div>
<hr>

<%= link_to 'Home', root_path %>
