<div class="container">
  <h3 class="mt-4">Events</h3>
  <p id="notice"><%= notice %></p>
</div>
<div class="tab">

</div>
<div class="row">
  <% @past_events.each do |event| %>
    <%= render 'event_view', event: event %>
  <% end %>
</div>
<hr>
<div>
  <% @upcoming_events.each do |event| %>
  Event <%= event.id %>:
  <%= event.description %>
  <br>
  Attendance time is:
  <%= event.event_date %>
  Hosted by: <%= event.creator.username %>
  <%= link_to "Show Event", event_path(event) %>

  <br>
  <% end %>
</div>
<br>
<hr>
